# Core
streamlit==1.45.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2

# Deep learning
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2

# Google Drive Downloader
gdown==5.1.0

# Data processing
python-dateutil==2.9.0.post0
pytz==2024.1
joblib==1.4.2

# Misc
tqdm==4.66.4
packaging==24.0
streamlit
huggingface_hub
